<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet",href="css/font-awesome.min.css")
        script(src="js/jquery.min.js")
        script(src="js/main.js")
        script(src="js/list.js")
        title 企業專區
    body
    img(src="images/header.png", alt="")
    
    div.breadcrumbs
        ul
          li.first
            a(href="#") 
            span.divider /
          li  Customer Service
            span.divider /
          li  
           a(href="index.html") Authorized Use Only
           span.divider / 
          li
             
           a(href="#") Gallery    

    

    div.wrapper#composers
     div.modal
       a(title="grid" class="grid" href="gallery.html")
         span.modal_grid 
       a( title="list" class="layout-list" href="list-gallery.html")
         span.modal_layout
       a(href="#" title="filter" id="list")
         span.filter
         #target_list
            ul 
              li.selected.sort(data-sort="name") Name 
              li.sort(data-sort="size") Size
              li.sort(data-sort="type") Types
     div.content    
       div.left_navbar
          
                 
          div.main_page
            strong.left_title  Main page
            ul.left_menu
              li
                a.active(href="index.html") Gallery  
                     
                 em.fa.fa-level-up 
                ul.submenu.open
                 li
                   a(href="gallery001.html") Gallery001   
                     
                  
                
                 li
                    a(href="#") CIS002
          div.b-pagination-outer
              ul.left.border-pagination.clear-box 
              
                li
                   a(href='#') 
                    i.fa.fa-angle-double-left
            
                li
                  a.active() 1
                li
                  a(href="") 2
               
              
                li
                  a(href='#') 
                    i.fa.fa-angle-double-right
            
              select.perpage.left
                option(value="50") 50 Items per page
                option(value="100") 100 Items per page
                option(value="200") 200 Items per page
                option(value="500") 500 Items per page
              p.clear-box.leftpage
                | Showing 1 - 50 of 5 Results.
              
       div.right_main
         .right_title
          h2.main_title Gallery
          p.main_dec  Here is located a range of miscellaneous pictures for general use which agents can utilize in their other related promotional material.
         ul.right_box.list
           
            li
              div
                a(href="images/view12_1000x666.jpg" target="_blank")
                   div.box_inner
                     img(src="images/view21_200x133.jpg", alt="")
                   #toolTip
                      p Name:JPG FORMAT01
                      p Size:1.8 MB      
                div.text_title
                  
                     p.short_title Title :
                             
                      span.name JPG FORMAT01
                     
                     p.desc Desc. :
                        span.type 1231232
            li           
              div
                a(href="#")
                   div.box_inner
                     img(src="images/view21_200x133.jpg", alt="")
                   #toolTip
                      p Name:JPG FORMAT02
                      p Size:1.8 MB 
                div.text_title
                  
                     p.short_title Title :
                             
                      span.name JPG FORMAT02
                     
                     p.desc Desc. :
                       span.type YUYUYUY
            li           
              div
                a(href="#")
                   div.box_inner
                     img(src="images/view21_200x133.jpg", alt="")
                   #toolTip
                      p Name:JPG FORMAT03
                      p Size:1.8 MB 
                div.text_title
                  
                     p.short_title Title :
                             
                      span.name JPG FORMAT03
                     
                     p.desc Desc. :
                       span.type NONONONON
              li
                div
                 a(href="gallery001.html")
                   div.document_grid
                   #toolTip
                      p Name:JPG FORMAT03
                      p Size:1.8 MB
                 div.text_title
                  
                  p.short_title Title :
                             
                     span.name   Gallery001 
                     
                  p.desc Desc. :
                    span.type Folder
                       
              li
                div
                 a(href="gallery001.html")
                   div.document_grid
                   #toolTip
                      p Name:JPG FORMAT03
                      p Size:1.8 MB 
                 div.text_title
                  
                  p.short_title Title :
                             
                     span.name   CIS002
                     
                  p.desc Desc. :
                    span.type Folder
         div.b-pagination-outer
              
            .apge 
              select.perpage
                option(value="50") 50 Items per page
                option(value="100") 100 Items per page
                option(value="200") 200 Items per page
                option(value="500") 500 Items per page
              span.page Showing 1 - 50 of 5 Results.
            .border-pagination
              ul.border-pagination.page-pagination 
             
                   
                li
                  a(href='#') 
                    i.fa.fa-angle-double-left
            
                li
                  a.active() 1
                li
                  a(href="") 2
                li
                  a(href="") 3
                li
                  a(href="") ...
                li
                  a(href='#') 
                    i.fa.fa-angle-double-right
           
    div.clear-box
    script.
      var options = { valueNames: ['name', 'size','type'] };
 
      var  composersList = new List('composers', options);  
      