<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        
        link(rel="stylesheet",href="css/font-awesome.min.css")
        script(src="js/jquery.min.js")
        script(src="js/main.js")
        title 企業專區
    body
    img(src="images/header.png", alt="")
    
    div.breadcrumbs
        ul
          li.first
            a(href="#") 
            span.divider /
          li  Customer Service
            span.divider /
          li  
           a(href="index.html") Authorized Use Only
           span.divider /
          li  
           a(href="#") Package Details

    

    div.wrapper
     div.modal
       a(title="grid" class="grid" href="package.html")
         span.modal_grid 
       a( title="list" class="layout-list" href="list-package.html")
         span.modal_layout
       a(href="#" title="filter" id="list")
         span.filter
         #target_list
            ul 
              li.selected.sort(data-sort="name") Name 
              li.sort(data-sort="size") Size
              li.sort(data-sort="type") Types
     div.content    
       div.left_navbar
          div.main_page
            strong.left_title  Main page
            ul.left_menu
               li
                a(href="index.html") Authorized Use Only 
                     
                  em#icon.fa.fa-angle-down
                ul.submenu.open
                 li
                    a(href="gallery.html") Gallery
                 li
                    a(href="cis.html") CIS
                 li
                    a.active(href="package.html") Package Details
                 li
                    a(href="2018_pdf.html") 2018 Product Presentation
                 li
                    a(href="Miscellaneous.html") Miscellaneous
       div.right_main
         .right_title
          h2.main_title Package Details
          p.main_dec  As graphical illustrations of various IC packages may sometimes be required for other promotional material these are provided here as a basis for agents use. 
         ul.right_box
    
            li
              div
                a(href="#")
                   div.box_inner
                     img(src="images/16DIP.gif", alt="")
                 
                div.text_title
                  
                     p.short_title Title :
                             
                      span 16DIP
                     
                     p.desc Desc. :
                       span gif
            li
              div
                 a(href="" target="_blank")
                   div.box_inner
                     img(src="images/16SSOP.gif", alt="")
                 
                 div.text_title
                  
                  p.short_title Title :
                             
                     span    16SSOP

                     
                  p.desc Desc. :
                     span gif
            li
              div
                 a(href="images/name_e.gif" target="_blank")
                   div.box_inner
                     img(src="images/18DIP.gif", alt="")
                 
                 div.text_title
                  
                  p.short_title Title :
                             
                     span    18DIP

                     
                  p.desc Desc. :
                     span gif  
            li
              div
                 a(href="" target="_blank")
                   div.box_inner.no-inner
                     img(src="images/18SOP.gif", alt="")
                 
                 div.text_title
                  
                  p.short_title Title :
                             
                     span    18SOP 

                     
                  p.desc Desc. :
                     span gif  
           
    div.clear-box
      